PORT=8080
JWT_SECRET=s9nFusr7GgRHdDQG6xjRkxnjQCgnJ+hMAsohceLixF6e/K16pTGAHPZXZPVFfkeFiZL55qQ+rYYUJ1Fb7/cQCg==

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres

DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=postgres